html {
    margin: 0px;
    padding: 0px;
    border: 0px;
}

body {
    margin: 0px;
    padding: 0px;
    border: 0px;
}

#in_m {
    position: fixed;    
    align-items: center;
    top: 15px;
    width: 69%;
    height: 130px;
    left: 35%;
    z-index: 3000;
}

#in_user_name {
    text-align: center;
    position: fixed;
    top: 30px;
    left: 10%;
    width: 400px;
    height: 40px;
    font-size: 200%;
    font-family: ProximaNovaBold;
    z-index: 3000;
    padding: 15px 0;
    border-radius: 10px 10px 0px 0px;
}

#in_close{
    width: 100%;
    height: 100%;
    z-index: 50;
    position: relative;
    
}

#menu_selector {
    margin-top: 3%;
    list-style-type: none;
    font-size: 130%;
    text-align: center;
    width: 80%;
    font-family: ProximaNovaRegular, sans-serif;
}

.menu_option_dec {
    display: inline-block;
    padding: 0 30px;
}

.links_removal {
    text-decoration: none;
    color: black;
    transition: 0.1s;
}

.links_removal:hover {
    border-bottom: 4px solid black;
}

.main_menu_content{
    width: 100%;
    height: 135px;
    background: white;
    position: fixed;
    z-index: 100;
    box-shadow: 0px -3px 10px;
}

.section_title{
    display: block;
    position: absolute;
    top: 180px;
    width: 260px;
    margin-left: 45%;
    text-align: center;
    font-size: 330%;
    font-family: ProximaNovaRegular;
}

#menu_options_container{
    overflow: auto;
    background:  rgba(245,245,245,0.8);
    border-radius: 0px 10px 10px 10px;
    position: fixed;
    top: 100px;
    left: 10%;
    width: 80%;
    height: 0%;
    z-index: 2000;
    transition: 1s;
}

.img_container_dec_lf{
    background-image: url("../Media/img/render_color_light.jpg");
    background-size: cover;
    background-position: center;
    margin-top: 300px;
    margin-left: 7%;
    width: 86%;
    height: 840px;
    position: relative;
    display: inline-block;
}
.img_container_dec_rt{
    margin-top: 50px;
    margin-right: 7%;
    float: right;
    width: 43%;
    height: 600px;
    position: relative;
    display: inline-block;
}
.img_container_dec_lf_2{
    background-image: url("../Media/img/modeling/microwave.png");
    background-position: center;
    margin-top: 50px;
    margin-left: 7%;
    width: 43%;
    height: 600px;
    position: relative;
    display: inline-block;
}
.img_container_dec_rt_2{
    background-image: url("../Media/img/house_side.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: -75px;
    margin-right: 7%;
    float: right;
    width: 43%;
    height: 600px;
    position: relative;
    display: inline-block;
}
.img_container_dec_lf_3{
    background-image: url("../Media/img/house_front.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: -75px;
    margin-left: 7%;
    width: 43%;
    height: 600px;
    position: relative;
    display: inline-block;
}

@media screen and (min-width: 1920px) {
    .img_container_dec_lf{
        margin-left: 15%;
        width: 70%;
    }
    .img_container_dec_rt{
        margin-right: 15%;
        width: 34%;
    }
    .img_container_dec_lf_2{
        margin-left: 15%;
        width: 34%;
    }
    .img_container_dec_rt_2{
        margin-right: 15%;
        width: 34%;
    }
    .img_container_dec_lf_3{
        margin-left: 15%;
        width: 34%;
    }
    
}

.info_title{
    margin-top: 70px;
    margin-left: 50px;
    margin-right: 50px;
    font-family: ProximaNovaBold;
    display: none;
}

.info_dec{
    font-size: 0px;
    margin-left: 70px;
    margin-right: 70px;
}

#index_icon{
    position: fixed;
    left: 95%;
    top: 35px;
    width: 70px;
    height: 70px;
    z-index: 5100;
}